.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  max-width: 472px;
  padding: 0px 64px 0px 64px;
}

.formGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 472px;
  height: 50px;
}

.label {
  position: absolute;
  top: 14px;
  left: 16px;
  font-size: 14px;
  font-weight: 500;
  pointer-events: none;
  transition: all 0.2s ease;
  color: var(--color-text-dark);
}

.input {
  padding: 14px 16px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: var(--radius-sm);
  background: var(--color-input-bg);
  font-size: 14px;
  color: var(--color-dark);
  outline: none;
  transition: all 0.2s ease;

  &:focus {
    border-color: var(--color-primary);
  }

  // Input doluyken veya focus'tayken label yukarı çık
  // &:focus~.label,
  // &:not(:placeholder-shown)~.label {
  //   top: -8px;
  //   left: 12px;
  //   font-size: 11px;
  //   color: var(--color-primary);
  // }

  &::placeholder {
    color: var(--color-white);
    padding-left: 70px;

  }
}
.inputWithIcon {
  padding-right: 45px;
}

.inputError {
  border-color: var(--color-error);

  &:focus~.label,
  &:not(:placeholder-shown)~.label {
    color: var(--color-error);
  }
}
.errorIcon {
  position: absolute;
  right: 12px;
  top: 14px;
  width: 20px;
  height: 20px;
  color: var(--color-error);
  pointer-events: none;
}
.error {
  font-size: 12px;
  color: var(--color-error);
  margin-top: 4px;
}

.eyeButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  // background-color: var(--color-white);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
  color:var(--color-dark);

  &:hover {
    opacity: 0.7;
  }
}

.eyeIcon {
  width: 20px;
  height: 20px;
  // color: var(--color-white);
  background-color: var(--color-dark);
  fill: none;
  stroke: var(--color-dark);
}
.submitButton {
  background: var(--color-white);
  color: var(--color-primary);
  border: none;
  border-radius: var(--radius-md);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 52px 20px 40px 0px ;
  width: 225px;
  height: 52px  ;

  &:hover:not(:disabled) {
    background: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-text-dark);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

//Mobile
@media (max-width: 767px) {
  .form {
    max-width: 100%;
  }
}
